# Local Postgresql Database Lab

In this lab we will practice adding and removing data from a local Postgresql database. We will:

- Walk through instructions on how to set up and configure a local postgresql server
- Create a database and a table using SQL and CRUD data in/from that table.
- Learn how to copy data from a CSV file into this local database
- Practice our SQL with a practice assignment.

## 1. Install postgresql locally

You should have already taken care of this in the Installfest, but just in case, [here](http://www.postgresql.org/download/) are the instructions for the most common platforms.

## 2. Launch and connect to a local PostgreSQL server

Now that you've installed PostgreSQL locally, practice connecting with the following methods:

- Command-line (psql)
- Ipython-notebook using the ipython-sql extension

**Check:** List the existing databases, there should be none, right?
> not true, there are some default databases from postgres

**Check:** If there are databases, check the tables' contents.

In [1]:
# - the ipython-notebook using the ipython-sql extension
%load_ext sql

In [3]:
%%sql postgresql://localhost:5432

SELECT * FROM information_schema.tables LIMIT 3;

3 rows affected.

[(u'basilbeirouti', u'public', u'evictions', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'basilbeirouti', u'pg_catalog', u'pg_statistic', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None),
 (u'basilbeirouti', u'pg_catalog', u'pg_type', u'BASE TABLE', None, None, None, None, None, u'YES', u'NO', None)]

## 3. Create DB
Once you are connected to your local Postgresql server, create a new database. Call it `lab33`.

Practice creating and deleting the database with the following methods:

- Command-line:
>     create database lab33
>     drop database lab33

- Ipython-notebook using the ipython-sql extension

In [12]:
%%sql

Done.

[]

## 4. CRUD (Create, Read, Update, and Delete)

In lesson 1.1 you learned how to add and remove data from sqlite. Let's review that on our local PostgreSQL installation.

### 4.a: Creating Tables and Adding Columns

1. Create an table called `table1` with a single column `field1` containing an INTEGER PRIMARY KEY. Practice doing this with any of the methods above.
- Add a few more columns to `table1`:
    - field2 VARCHAR(16)
    - field3 REAL
    - field4 TEXT
check [the doc](http://www.postgresql.org/docs/9.3/static/datatype.html) for more info on data types supported by postgresql.
- Check tables and schemas using command line or postico

In [4]:
%%sql
create database lab33

Done.

[]

In [5]:
%%sql postgresql://localhost:5432/lab33 

CREATE TABLE table1 (field1 INTEGER PRIMARY KEY);

Done.

[]

In [6]:
%%sql
ALTER TABLE table1 ADD COLUMN field2 VARCHAR(16);
ALTER TABLE table1 ADD COLUMN field3 REAL;
ALTER TABLE table1 ADD COLUMN field4 TEXT;

Done.
Done.
Done.

[]

### 4.b: Add Data

Add some data to `table1`:

|field1|field2|field3|field4|
|----|
|1|'Henry James'|42|'75 Mission Street, San Francisco, CA'|
|2|'Carol James'|40|'75 Mission Street, San Francisco, CA'|
|3|'Jesse James'|12|'75 Mission Street, San Francisco, CA'|

In [8]:
%%sql
INSERT INTO table1 VALUES (1, 'Henry James', 42, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (2, 'Carol James', 40, '75 Mission Street, San Francisco, CA');
INSERT INTO table1 VALUES (3, 'Jesse James', 12, '75 Mission Street, San Francisco, CA');

IntegrityError: (psycopg2.IntegrityError) duplicate key value violates unique constraint "table1_pkey"
DETAIL:  Key (field1)=(1) already exists.
 [SQL: "INSERT INTO table1 VALUES (1, 'Henry James', 42, '75 Mission Street, San Francisco, CA');"]

### 4.c: Read Data
Read the content of the table,

In [9]:
%%sql
select * from table1;

3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 12.0, u'75 Mission Street, San Francisco, CA')]

### 4.d: Update Records
Suppose we need to update an existing record with new data - e.g. maybe `Jesse James` is only 9. Use the update command to do this.

In [19]:
%%sql
UPDATE table1 SET field3=9 WHERE field1=3;
select * from table1;

1 rows affected.
3 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA'),
 (3, u'Jesse James', 9.0, u'75 Mission Street, San Francisco, CA')]

In [25]:
%sql UPDATE table1 SET field3=45 WHERE field2 LIKE 'Jesse%'

1 rows affected.

[]

### 4.e: Remove Records
To remove records use the DELETE command. Delete the entry for anyone matching `Jesse`.

In [26]:
%%sql
DELETE FROM table1 WHERE field2 like '%Jesse%';
select * from table1;

1 rows affected.
2 rows affected.

[(1, u'Henry James', 42.0, u'75 Mission Street, San Francisco, CA'),
 (2, u'Carol James', 40.0, u'75 Mission Street, San Francisco, CA')]

## 5. Data from CSV

Copy CSV data from a local file into a local PostgreSQL database. We will use a [dataset](../../assets/datasets/Eviction_Notices.csv) pulled from the SF open data website. It contains a set of eviction notices issued in San Francisco.

Open the data in a text editor and have a look at it.

### 5.a: Simple Import

Read [this post](http://stackoverflow.com/questions/2987433/how-to-import-csv-file-data-into-a-postgresql-table) to learn how you can import data from CSV to PostgreSQL.

Notice that you have to decide the type for each column. Let's keep it simple and import everything as a string of text for now.

- Create a table called `evictions_simple` and import the data as varchar.
- Check that everything worked fine by loading a few lines from the table.
- Try some simple queries:
    - count how many evictions are due to non_payments
    - list the 3 most recent evictions


**Hint:** A good practice when you create a new table is to always drop it first, in case it already exists.

**Check:** Did you avoid importing the header as a record?

In [28]:
%%sql
DROP TABLE IF EXISTS evictions_simple;
CREATE TABLE evictions_simple
(eviction_id varchar,
 address varchar,
 city varchar,
 state varchar,
 zip varchar,
 file_date varchar,
 non_payment varchar,
 breach varchar,
 nuisance varchar,
 illegal_use varchar,
 failure_to_sign_renewal varchar,
 access_denial varchar,
 unapproved_subtenant varchar,
 owner_move_in varchar,
 demolition varchar,
 capital_improvement varchar,
 substantial_rehab varchar,
 ellis_act_withdrawal varchar,
 condo_conversion varchar,
 roommate_same_unit varchar,
 other_cause varchar,
 late_payments varchar,
 lead_remediation varchar,
 development varchar,
 good_samaritan_ends varchar,
 constraints varchar,
 constraints_date varchar,
 supervisor_district varchar,
 neighborhood varchar,
 client_location varchar);

Done.
Done.
(psycopg2.ProgrammingError) syntax error at or near "\"
LINE 1: COPY evictions_simple FROM \
                                   ^
 [SQL: "COPY evictions_simple FROM \\\n'/Users/basilbeirouti/Github/DSI-ATX-1/curriculum/04-lessons/week-05/3.3-lab/assets/datasets/Eviction_Notices.csv' \\\nDELIMITER ',' CSV HEADER;"]

In [29]:
%%sql

COPY evictions_simple FROM '/Users/basilbeirouti/Github/DSI-ATX-1/curriculum/04-lessons/week-05/3.3-lab/assets/datasets/Eviction_Notices.csv' DELIMITER ',' CSV HEADER;

34922 rows affected.

[]

### 5.b: Data Cleaning and Import

If you've executed the last query correctly (most recent evictions), you'll have noticed that the dates are not correctly understood. This is because we were sloppy and imported the data as string for all fields.

Let's see what data types we would ideally like to have for each column.

[Here are data types](http://www.tutorialspoint.com/postgresql/postgresql_data_types.htm)

- Discuss in pairs each column and then let's summarize together. Which data type would you choose for each field?
- Repeat the import to a new table called `evictions`. Notice that line 31494 may throw an error. Why is that?
> There are two ` characters that do not belong.
- Repeat the query for the 3 most recent evictions. Does it work now?

## 6. Queries

Now that we have imported the data with correct data types, let's query the `evictions` table and find out a few things about SF and evictions.

Questions:
- How many neighborhoods are there in SF? List them alphabetically
- How many supervisor districts? 
- How many unique zip codes?
    - Are there any bad data in these? how many?
- What are the top 5 causes of eviction?

### 6.a: How many neighborhoods are there in SF? List them alphabetically.

In [31]:
%%sql
select count(distinct neighborhood) from evictions_simple;

1 rows affected.

[(41L,)]

In [33]:
%%sql
select distinct neighborhood from evictions_simple
order by neighborhood;

42 rows affected.

[(u'Bayview Hunters Point',),
 (u'Bernal Heights',),
 (u'Castro/Upper Market',),
 (u'Chinatown',),
 (u'Excelsior',),
 (u'Financial District/South Beach',),
 (u'Glen Park',),
 (u'Golden Gate Park',),
 (u'Haight Ashbury',),
 (u'Hayes Valley',),
 (u'Inner Richmond',),
 (u'Inner Sunset',),
 (u'Japantown',),
 (u'Lakeshore',),
 (u'Lincoln Park',),
 (u'Lone Mountain/USF',),
 (u'Marina',),
 (u'McLaren Park',),
 (u'Mission',),
 (u'Mission Bay',),
 (u'Nob Hill',),
 (u'Noe Valley',),
 (u'North Beach',),
 (u'Oceanview/Merced/Ingleside',),
 (u'Outer Mission',),
 (u'Outer Richmond',),
 (u'Pacific Heights',),
 (u'Portola',),
 (u'Potrero Hill',),
 (u'Presidio',),
 (u'Presidio Heights',),
 (u'Russian Hill',),
 (u'Seacliff',),
 (u'South of Market',),
 (u'Sunset/Parkside',),
 (u'Tenderloin',),
 (u'Treasure Island',),
 (u'Twin Peaks',),
 (u'Visitacion Valley',),
 (u'West of Twin Peaks',),
 (u'Western Addition',),
 (None,)]

### 6.b: How many supervisor districts?

In [38]:
results = %sql select * from evictions_simple
results.DataFrame()

34922 rows affected.

,eviction_id,address,city,state,zip,file_date,non_payment,breach,nuisance,illegal_use,...,other_cause,late_payments,lead_remediation,development,good_samaritan_ends,constraints,constraints_date,supervisor_district,neighborhood,client_location
0,M160201,700 Block of Monterey Boulevard,San Francisco,CA,94127,01/29/2016,false,false,false,false,...,false,false,false,false,None,false,None,7,West of Twin Peaks,"(37.7316239329611, -122.452278465115)"
1,M160202,1200 Block of Grant Avenue,San Francisco,CA,94133,01/29/2016,false,false,true,false,...,false,false,false,false,None,false,None,3,North Beach,"(37.7983293340533, -122.40704747764)"
2,M160225,1300 Block of Palou Avenue,San Francisco,CA,94124,01/29/2016,false,false,false,false,...,false,false,false,false,None,false,03/27/2021,10,Bayview Hunters Point,"(37.7312794563329, -122.386266955922)"
3,M160555,3400 Block of 21st Street,San Francisco,CA,94110,01/29/2016,false,false,false,false,...,false,false,false,false,None,false,None,8,Mission,"(37.7567725308432, -122.424183166506)"
4,M160199,4000 Block of 18th Street,San Francisco,CA,94114,01/27/2016,false,false,false,false,...,false,true,false,false,None,false,None,8,Castro/Upper Market,"(37.7609766087856, -122.434457353518)"
5,M160200,3200 Block of 21st Street,San Francisco,CA,94110,01/27/2016,false,false,false,false,...,false,false,false,false,None,false,None,9,Mission,"(37.7569802291512, -122.420733171488)"
6,M160197,1300 Block of Market Street,San Francisco,CA,94102,01/26/2016,false,true,false,false,...,false,false,false,false,None,false,None,6,Tenderloin,"(37.7770834639114, -122.416979326588)"
7,M160194,0 Block of Gerke Alley,San Francisco,CA,94133,01/26/2016,false,true,false,false,...,false,false,false,false,None,false,None,3,North Beach,"(37.8021794338977, -122.407651369418)"
8,M160195,1300 Block of Market Street,San Francisco,CA,94102,01/26/2016,false,true,false,false,...,false,false,false,false,None,false,None,6,Tenderloin,"(37.7770834639114, -122.416979326588)"
9,M160193,2000 Block of Ocean Avenue,San Francisco,CA,94127,01/26/2016,false,true,false,false,...,false,false,false,false,None,false,None,7,West of Twin Peaks,"(37.7261906262144, -122.464987354079)"
10,M160198,1300 Block of Market Street,San Francisco,CA,94102,01/26/2016,false,false,false,true,...,false,false,false,false,None,false,None,6,Tenderloin,"(37.7770834639114, -122.416979326588)"
11,M160196,1300 Block of Market Street,San Francisco,CA,94102,01/26/2016,false,false,false,true,...,false,false,false,false,None,false,None,6,Tenderloin,"(37.7770834639114, -122.416979326588)"
12,M160148,900 Block of Alabama Street,San Francisco,CA,94110,01/25/2016,false,false,false,false,...,false,false,false,false,None,false,03/22/2021,9,Mission,"(37.7566821047498, -122.411417481348)"
13,M160188,300 Block of Laguna Street,San Francisco,CA,94102,01/25/2016,false,false,false,false,...,false,true,false,false,None,false,None,5,Hayes Valley,"(37.7743568544178, -122.425909733286)"
14,M160182,2500 Block of MORAGA Street,San Francisco,CA,94122,01/25/2016,false,false,false,false,...,false,false,false,false,None,false,None,4,Sunset/Parkside,"(37.7554620604629, -122.489992696312)"
15,M160183,100 Block of Cambon Drive,San Francisco,CA,94132,01/25/2016,false,false,false,false,...,false,false,false,false,None,false,None,7,Lakeshore,"(37.7166731173086, -122.474173684903)"
16,M160223,1800 Block of 44TH Avenue,San Francisco,CA,94122,01/25/2016,false,false,false,false,...,false,false,false,false,None,false,03/23/2021,4,Sunset/Parkside,"(37.752127634542, -122.503128847874)"
17,M160189,1800 Block of Filbert Street,San Francisco,CA,94123,01/25/2016,true,false,false,false,...,false,true,false,false,None,false,None,2,Marina,"(37.7988071667944, -122.429935669131)"
18,M160187,1600 Block of Revere Avenue,San Francisco,CA,94124,01/25/2016,true,false,false,false,...,false,false,false,false,None,false,None,10,Bayview Hunters Point,"(37.7320027143139, -122.390883042514)"
19,M160184,1600 Block of Church Street,San Francisco,CA,94131,01/25/2016,false,false,true,false,...,false,false,false,false,None,false,None,8,Noe Valley,"(37.7448938219392, -122.42685321965)"
20,M160186,100 Block of Leland Avenue,San Francisco,CA,94134,01/25/2016,false,true,false,false,...,false,false,false,false,None,false,None,10,Visitacion Valley,"(37.7121574281554, -122.406049919643)"
21,M160224,0 Block of Onondaga Avenue,San Francisco,CA,94112,01/25/2016,false,false,false,false,...,false,false,false,false,None,false,03/22/2021,11,Outer Mission,"(37.7219022397314, -122.439497131424)"
22,M160185,100 Block of Leland Avenue,San Francisco,CA,94134,01/25/2016,false,false,false,false,...,false,true,false,false,None,false,None,10,Visitacion Valley,"(37.7121574281554, -122.406049919643)"
23,M160177,1100 Block of Mission Street,San Francisco,CA,94103,01/22/2016,false,false,true,false,...,false,false,false,false,None,false,None,6,South of Market,"(37.777790309072, -122.412834332583)"
24,M160180,5300 Block of Diamond Heights Boulevard,San Francisco,CA,94131,01/22/2016,true,false,false,false,...,false,false,false,false,None,false,None,8,Noe Valley,"(37.7427922571067, -122.436288012747)"
25,M160181,5300 Block of Diamond Heights Boulevard,San Francisco,CA,94131,01/22/2016,true,false,false,false,...,false,false,false,false,None,false,None,8,Noe Valley,"(37.7427922571067, -122.436288012747)"
26,M160145,100 Block of Raymond Avenue,San Francisco,CA,94134,01/22/2016,false,false,false,false,...,false,false,false,false,None,false,03/19/2021,10,Visitacion Valley,"(37.7128759355621, -122.40616384708)"
27,M160178,1500 Block of Gough Street,San Francisco,CA,94109,01/22/2016,false,false,false,false,...,false,true,false,false,None,false,None,2,Western Addition,"(37.7878420383306, -122.425120392145)"
28,M160144,200 Block of Flournoy Street,San Francisco,CA,94112,01/22/2016,false,false,false,false,...,false,false,false,false,None,false,03/19/2021,11,Outer Mission,"(37.7090432218462, -122.462543036144)"
29,M160136,500 Block of 29th Avenue,San Francisco,CA,94121,01/22/2016,false,false,false,false,...,false,false,false,false,None,false,None,1,Outer Richmond,"(37.7789343217285, -122.488875414497)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34892,RE01005,100 Block of DUBOCE Avenue,SAN FRANCISCO,CA,94103,01/06/1997,false,false,false,false,...,true,false,false,false,None,false,None,8,Mission,"(37.7697027216759, -122.424196066603)"
34893,RE01000,2000 Block of 22ND Avenue,SAN FRANCISCO,CA,94116,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,4,Sunset/Parkside,"(37.7494330013634, -122.479429829195)"
34894,RE01031,200 Block of JUANITA WAY,SAN FRANCISCO,CA,94127,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,7,West of Twin Peaks,"(37.7414243374051, -122.455285471021)"
34895,RE01009,3676 Mission St,SAN FRANCISCO,CA,None,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,None,None,"(2096950.09529838, 6005334.2520705)"
34896,RE01002,100 Block of WARD Street,SAN FRANCISCO,CA,94134,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,10,Portola,"(37.7189024371328, -122.40163420148)"
34897,RE01011,1100 Block of CAPITOL Avenue,SAN FRANCISCO,CA,94112,01/06/1997,true,false,false,false,...,false,false,false,false,None,false,None,7,Oceanview/Merced/Ingleside,"(37.722745112251, -122.459137955186)"
34898,RE01006,100 Block of COLLINGWOOD Street,SAN FRANCISCO,CA,None,01/06/1997,false,false,false,false,...,true,false,false,false,None,false,None,8,Castro/Upper Market,"(37.7600276030154, -122.435966427502)"
34899,RE01007,1200 Block of 25TH Avenue,SAN FRANCISCO,CA,94122,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,4,Sunset/Parkside,"(37.7642163525326, -122.483688577478)"
34900,RE01001,2300 Block of 30TH Avenue,SAN FRANCISCO,CA,94116,01/06/1997,false,false,false,false,...,true,false,false,false,None,false,None,4,Sunset/Parkside,"(37.743462178174, -122.487610566896)"
34901,RE01010,1100 Block of CAPITOL Avenue,SAN FRANCISCO,CA,None,01/06/1997,true,false,false,false,...,false,false,false,false,None,false,None,7,Oceanview/Merced/Ingleside,"(37.722745112251, -122.459137955186)"
34902,RE01008,3600 Block of 20TH Street,SAN FRANCISCO,CA,94110,01/06/1997,false,false,false,false,...,false,false,false,false,None,false,None,8,Mission,"(37.7584863038899, -122.422385383102)"
34903,RE00996,0 Block of SATURN Street,SAN FRANCISCO,CA,94114,01/03/1997,false,false,false,false,...,false,false,false,false,None,false,None,8,Castro/Upper Market,"(37.7625730609295, -122.442589726747)"
34904,RE00998,200 Block of VIDAL Drive,SAN FRANCISCO,CA,94132,01/03/1997,false,true,false,false,...,false,false,false,false,None,false,None,7,Lakeshore,"(37.7192018966832, -122.484666500018)"
34905,RE00994,0 Block of RED ROCK ROCK WAY,SAN FRANCISCO,CA,None,01/03/1997,false,false,false,false,...,false,false,false,false,None,false,None,8,Noe Valley,"(37.7460366753227, -122.442196632259)"
34906,RE00995,402 Precita Ave,SAN FRANCISCO,CA,9,01/03/1997,false,false,false,false,...,false,false,false,false,None,false,None,None,None,1 QNAN\n
34907,RE00997,0 Block of SATURN Street,SAN FRANCISCO,CA,94114,01/03/1997,true,false,false,false,...,false,false,false,false,None,false,None,8,Castro/Upper Market,"(37.7625730609295, -122.442589726747)"
34908,RE00992,2200 Block of STOCKTON Street,SAN FRANCISCO,CA,94133,01/03/1997,false,false,false,false,...,true,false,false,false,None,false,None,3,North Beach,"(37.8065039067481, -122.41033582244)"
34909,RE00993,400 Block of PRECITA,SAN FRANCISCO,CA,94110,01/03/1997,false,false,false,false,...,false,false,false,false,None,false,None,9,Bernal Heights,"(37.746856532454, -122.411109227997)"
34910,RE01030,1500 Block of TREAT Avenue,SAN FRANCISCO,CA,94110,01/03/1997,false,false,false,false,...,false,false,false,false,None,false,None,9,Bernal Heights,"(37.7456910151342, -122.412507179233)"
34911,RE00984,700 Block of TAYLOR Street,SAN FRANCISCO,CA,None,01/02/1997,false,true,false,false,...,false,false,false,false,None,false,None,3,Nob Hill,"(37.7892825034802, -122.411912440171)"
34912,RE00989,2300 Block of GREENWICH,SAN FRANCISCO,CA,94123,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,2,Marina,"(37.7985835356509, -122.438324332382)"
34913,RE00983,1800 Block of BROADWAY 101,SAN FRANCISCO,CA,941,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,2,Pacific Heights,"(37.7951567186412, -122.427511015782)"
34914,RE00985,0 Block of GRIJALVA,SAN FRANCISCO,CA,None,01/02/1997,false,false,true,false,...,false,false,false,false,None,false,None,7,Lakeshore,"(37.7169631285934, -122.478704029281)"
34915,RE00991,3600 Block of 20TH Street,SAN FRANCISCO,CA,94110,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,8,Mission,"(37.7584863038899, -122.422385383102)"
34916,RE00988,700 Block of TEHAMA Street,SAN FRANCISCO,CA,None,01/02/1997,true,false,false,false,...,false,false,false,false,None,false,None,6,South of Market,"(37.7751404308952, -122.411799525288)"
34917,RE00987,300 Block of VALENCIA Street,SAN FRANCISCO,CA,94110,01/02/1997,false,true,false,false,...,false,false,false,false,None,false,None,9,Mission,"(37.7670104710304, -122.422020136977)"
34918,RE00982,600 Block of 29TH Avenue,SAN FRANCISCO,CA,94121,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,1,Outer Richmond,"(37.7770424488733, -122.488739093705)"
34919,RE00990,400 Block of MYRA WAY,SAN FRANCISCO,CA,94127,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,7,West of Twin Peaks,"(37.7374067792542, -122.452546246971)"
34920,RE00986,1600 Block of DOLORES Street,SAN FRANCISCO,CA,None,01/02/1997,false,false,false,false,...,false,true,false,false,None,false,None,8,Noe Valley,"(37.7426453579927, -122.424119996785)"
34921,RE00981,3600 Block of 20TH Street,SAN FRANCISCO,CA,94110,01/02/1997,false,false,false,false,...,false,false,false,false,None,false,None,8,Mission,"(37.7584863038899, -122.422385383102)"

In [40]:
%%sql
select distinct supervisor_district from evictions_simple
order by supervisor_district;

12 rows affected.

[(u'1',),
 (u'10',),
 (u'11',),
 (u'2',),
 (u'3',),
 (u'4',),
 (u'5',),
 (u'6',),
 (u'7',),
 (u'8',),
 (u'9',),
 (None,)]

### 6.c how many unique zip codes?

Are there any bad data in these?

### 6.d: What are the top 5 causes of eviction?

You may find it easier to answer this question using pandas.

In [41]:
results = results.DataFrame()

In [ ]:
results[results.columns[6:-7]].replace({"false":False, "true":True}).sum()

## Bonus
- Let's count the number of evictions for each year
    - How has the number varied?
    - Can you compare this with the nasdaq index? (use the DataReader module in Pandas to get the data)