In [28]:
# import modules

import pandas as pd
import numpy as np

In [29]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [30]:
# select the preTestScore column
df.preTestScore

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [31]:
# find the standard deviation of preTestScore 
a = (np.std(df.preTestScore))
a = np.round_(a, decimals = 4)
a

12.221299999999999

In [32]:
# select rows in preTestScore with scores greater than the mean
l = df.preTestScore[df.preTestScore> np.mean(df.preTestScore)]
print "rows in preTestScore with scores greater than the mean are \n", l
# find the mean of preTestScore
print "the mean of preTestScore", np.mean(df.preTestScore)

rows in preTestScore with scores greater than the mean are
1    24
2    31
Name: preTestScore, dtype: int64
the mean of preTestScore 12.8

In [33]:
# select the rows in preTestScore with scores greater than the mean
l = df.preTestScore[df.preTestScore> np.mean(df.preTestScore)]
print "rows in preTestScore with scores greater than the mean are \n", l

rows in preTestScore with scores greater than the mean are
1    24
2    31
Name: preTestScore, dtype: int64

In [38]:
# create a new column that shows the score change from 
# preTestScore to postTestScore
# df_change_between_pre_and_post
df['change_between_pre_and_post'] = pd.Series(df.postTestScore - df.preTestScore)
df

    name  age  preTestScore  postTestScore  change_between_pre_and_post
0  Jason   42             4             25                           21
1  Molly   52            24             94                           70
2   Tina   36            31             57                           26
3   Jake   24             2             62                           60
4    Amy   73             3             70                           67