In [11]:
# import modules

import pandas as pd
import numpy as np

In [12]:
# create a dataframe

data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'age': [42, 52, 36, 24, 73], 
        'preTestScore': [4, 24, 31, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, columns = 
                  ['name', 'age', 'preTestScore', 'postTestScore'])
df

    name  age  preTestScore  postTestScore
0  Jason   42             4             25
1  Molly   52            24             94
2   Tina   36            31             57
3   Jake   24             2             62
4    Amy   73             3             70

In [14]:
# select the preTestScore column
df['preTestScore']

0     4
1    24
2    31
3     2
4     3
Name: preTestScore, dtype: int64

In [19]:
# find the standard deviation of preTestScore 
df['preTestScore'].std()

13.663820841916802

In [20]:
# find the mean of preTestScore
df['preTestScore'].mean()

12.8

In [23]:
# select the rows in preTestScore with scores greater than the mean
greater_than_mean = []
if df['preTestScore'] > df['preTestScore'].mean:
    greater_than_mean.append(df['preTestScore'])

greater_than_mean

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [7]:
# create a new column that shows the score change from 
# preTestScore to postTestScore

for

BONUS:

Use the same dataframe provided from the starter code, and:
find the mean, median, mode, and standard deviation of the ages of the students

Create another small dataframe of your own
do all of the requirements above